body {
    margin-top: 40px;
    margin-bottom: 40px;
    text-rendering: optimizeLegibility
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none
}

code {
    font-family: Consolas, Monaco, "Lucida Console", monospace;
    background-color: #eee;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px
}

pre {
    overflow-x: scroll;
    margin-bottom: 20px
}

pre code {
    background: none;
    border-radius: 0;
    font-size: 14px;
    padding: 0
}

pre code:before {
    color: #5f5a60;
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

pre code.python:before {
    content: "Python"
}

pre code.ruby:before {
    content: "Ruby"
}

pre code.bash:before {
    content: "Bash"
}

pre code.javascript:before {
    content: "JavaScript"
}

pre code.cpp:before {
    content: "C++"
}

pre code.brainfuck:before {
    content: "brainfuck"
}

time {
    line-height: 40px
}

img {
    max-width: 100%
}



#selfie {
    width: 125px;
    border-radius: 100%;
    transition: all .2s;
    box-shadow: 0;
    opacity: 1;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

#logo {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}

#social-block {
    width: 125px;
    display: block;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    border-top: 1px solid #e7e7e7;
    /*margin-top: 1em;*/
    padding-top: 1.5em;
    padding-bottom: 1.25em;
}


a.nav {
    color: #0f0f0f;
    text-decoration: None;
}

a.nav:hover {
    color: #4b0080;
    text-decoration: None;
}

a.nav:active {
    color: rebeccapurple;
}


#bio-block {
    width: 155px;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

p.bio{
    color: darkgray;
    text-align: center;
    font-size: 10pt;
}



#nav-block {
    border-top: 1px solid #e7e7e7;
    margin-top: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.25em;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

span.tagline{
    text-align: center;
}

a.social {
    color: #0f0f0f;
    text-decoration: None;
}

a.social:hover {
    color: #4b0080;
    text-decoration: None;
}

a.social:active {
    color: rebeccapurple;
}


.ll-title {
    font-size: 50px;
    font-family: "LatoWebMedium", sans-serif;
    margin: 130px auto 20px;
}

.ll-intro {
    font-weight: 300;
    color: #8b8b8b;
    margin: 0 auto 20px;
}

.ll-social i {
    margin: 0 10px 0 10px;
}

.ll-icon tooltip {
    color: whitesmoke;
    background-color: black;
}

