/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    /*text-rendering: optimizeLegibility;*/
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    /*font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;*/
    font-family: "LatoWebThin", sans-serif;
    font-size: 20px;
    line-height: 1;
    color: #0f0f0f;
    font-weight: 700;
}

a {
    color: #0f0f0f;
}

a:hover {
    color: #4b0080;
    text-decoration: None;
}

a:active {
    color: rebeccapurple;
}


.ll-title {
    font-size: 50px;
    font-family: "LatoWebMedium", sans-serif;
    margin: 130px auto 20px;
}

.ll-intro {
    font-weight: 300;
    color: #8b8b8b;
    margin: 0 auto 20px;
}

.ll-social i {
    margin: 0 10px 0 10px;
}

.ll-icon tooltip {
    color: whitesmoke;
    background-color: black;
}

